<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Arena.Custom.SECC.OAuth" version="1.0.0" targetFramework="net40" />
  <package id="Arena.dll" version="2014.2.100.04114" targetFramework="net40" />
  <package id="Arena.Framework.dll" version="2014.2.100.04114" targetFramework="net40" />
  <package id="Arena.Services.dll" version="2014.2.100.04114" targetFramework="net40" />
  <package id="AutoMapper" version="3.3.1" targetFramework="net40" />
</packages>